.greyBtn{
  text-align: center;
  padding: 21px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.25em;
  border: 1px solid $moveLightGrey;
  border-radius: 3px;
  transition: 0.25s ease all;
}
.greyBtn:hover{
  border: 1px solid $moveLightBlue;
}
.lincBtn{
  width:100px;
  height: 40px;
  border-radius: 6px;
  background-color: $moveLightBlue;
  border-color: $moveBlue;
  border: 1px solid;
  color: white;
  font-size: 1.25  em;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  float:right;
  border: 0;}
.btn-danger {
  background-color: $moveRed !important;
}
.btn-info {
  background-color: $moveLightBlue !important;
  border-color: $moveBlue !important;
}